<div class="header-wrap layout-full">

    <img src="images/home/home.jpg" alt="profile-image">

    <h1 class="site-title">Antonio Palomba</h1>
    <p class="site-description">iOS Developer</p>

    <!-- header-social -->
    <div class="header-bottom">

        <a class="social-link linkedin" href="https://www.linkedin.com/in/antonio-palomba-dev/"></a>
        <a class="social-link github" href="https://github.com/palant-dev"></a>
        <a class="social-link medium" href="https://medium.com/@antonio.palomba2015"></a>
        <a class="social-link twitter" href="https://twitter.com/tonypalomba92"></a>

    </div>
    <!-- header-social -->

    <!-- NAV MENU -->
    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <div class="nav-menu menu-with-icons">
            <ul>
                <li><a class="home" href="index.html">Home</a></li>
                <li><a class="return" href="blog.html">Blog</a></li>
                <li><a class="search-toggle">Search</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAV MENU -->

    <!-- SEARCH -->
    <div class="header-search">
        <form role="search" method="get" id="search-form" action="#">
            <input type="text" value="" name="s" id="search" placeholder="type and hit enter">
            <input type="submit" id="search-submit" title="Search" value="→">
        </form>
    </div>
    <!-- SEARCH -->

</div>
