<!-- widget : categories -->
<aside class="widget widget_categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
        <li class="cat-item"><a href="#" title="View all posts filed under Program Management">Program Management</a></li>
        <li class="cat-item"><a href="#" title="View all posts filed under iOS Development">iOS Development</a></li>
        <li class="cat-item"><a href="#" title="View all posts filed under Web Development">Web Development</a></li>
        <li class="cat-item"><a href="#" title="View all posts filed under Leadership">Leadership</a></li>
    </ul>
</aside>
<!-- widget : categories -->



<!-- widget : recent-posts -->
<aside class="widget widget_recent_entries">
    <h3 class="widget-title">Recent Posts</h3>
    <ul id="recent-posts-list"></ul>
</aside>
<!-- widget : recent-posts -->
