<div class="header-wrap layout-full">

    <!-- NAV MENU -->
    <nav id="primary-navigation" class="header-navbar site-navigation primary-navigation" role="navigation">

        <a href="/index.html" class="header-navbar-logo">
            <img src="/images/blog/blog-logo.svg" alt="PalAnt logo">
        </a>

        <div class="nav-menu">
            <ul>
                <li><a class="home" href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a class="search-toggle">Search</a></li>
            </ul>
        </div>

        <a href="/contact.html" class="header-navbar-cta">Connect with me<span class="header-navbar-cta-arrow">↗</span></a>

    </nav>
    <!-- NAV MENU -->

    <!-- SEARCH -->
    <div class="header-search">
        <form role="search" method="get" id="search-form" action="#">
            <input type="text" value="" name="s" id="search" placeholder="type and hit enter">
            <input type="submit" id="search-submit" title="Search" value="→">
        </form>
    </div>
    <!-- SEARCH -->

</div>
